# Analyzing the dataset requested for the project

This code has no direct relation to the rest of the repository or project. It only served as a guide for the function that transforms the datasets that will be uploaded to the cloud database. Given the main application and the objective of supporting several datasets, only minimal changes will be performed on the datasets, it would be unfeasible to create a general function.

In [1]:
import pandas as pd

---

In [2]:
df = pd.read_csv(
    'https://github.com/Neurolake/challenge-data-scientist/raw/refs/heads/main/datasets/credit_01/train.gz',
)

df.head()

,REF_DATE,TARGET,VAR2,IDADE,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,...,VAR141,VAR142,VAR143,VAR144,VAR145,VAR146,VAR147,VAR148,VAR149,ID
0,2017-06-01 00:00:00+00:00,0,M,34.137,NaN,RO,-8.808779,-63.878470,D,E,...,2680.289259,D,NaN,NaN,NaN,NaN,102,EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...,2.6.1,181755
1,2017-08-18 00:00:00+00:00,0,M,40.447,NaN,PB,-7.146537,-34.926080,E,E,...,1777.725469,E,NaN,NaN,NaN,NaN,102,EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...,2.6.1,287633
2,2017-06-30 00:00:00+00:00,0,F,33.515,NaN,RS,-27.900178,-53.314035,NaN,E,...,1695.494979,E,NaN,NaN,NaN,NaN,102,EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...,2.6.1,88015
3,2017-08-05 00:00:00+00:00,1,F,25.797,NaN,BA,-12.948874,-38.451863,E,E,...,1399.037809,E,NaN,NaN,NaN,NaN,102,EMAIL INEXISTENTE#@#NOME INEXISTENTE#@#CEP INE...,2.6.1,122576
4,2017-07-29 00:00:00+00:00,0,F,54.074,NaN,RS,-30.051810,-51.213277,B,E,...,7868.793296,C,NaN,NaN,NaN,NaN,102,EMAIL INEXISTENTE,2.6.1,1272

In [3]:
df.shape

(120750, 151)

---

The dataset has many columns. However, according to the project, these are the only columns that will be used:

In [4]:
column_mapping = {
    "REF_DATE": "ref_date",        # CSV column → Database column
    "TARGET": "target",
    "VAR2": "sexo",
    "IDADE": "idade",
    "VAR4": "flag_obito",
    "VAR5": "uf",
    "VAR8": "classe_social"
}

cols = ["ref_date", "target", "sexo", "idade", "flag_obito", "uf", "classe_social"]

In [5]:
df = df.rename(columns=column_mapping)
df_reduced = df[cols]

df_reduced.head()

                    ref_date  target sexo   idade flag_obito  uf classe_social
0  2017-06-01 00:00:00+00:00       0    M  34.137        NaN  RO             D
1  2017-08-18 00:00:00+00:00       0    M  40.447        NaN  PB             E
2  2017-06-30 00:00:00+00:00       0    F  33.515        NaN  RS           NaN
3  2017-08-05 00:00:00+00:00       1    F  25.797        NaN  BA             E
4  2017-07-29 00:00:00+00:00       0    F  54.074        NaN  RS             B

---

As you can see below, the dataset has many null values. However we will not remove them, as they are still important for the analysis and can be used by the chatbot to understand the data better. Also, as said before, we do not want to change the dataset too much, so can see the robustness of the chatbot.

In [6]:
for col in df_reduced.columns:
    if col not in ['ref_date', 'idade']:
        print(f"{col} null values: {df_reduced[col].isnull().sum()}")

target null values: 0
sexo null values: 14619
flag_obito null values: 120548
uf null values: 3356
classe_social null values: 53110

---

Again, we could encode the categorical variables and use better data types, but we will not do it, as the chatbot needs to be able to understand them without encoding.

In [8]:
df_reduced.dtypes

ref_date          object
target             int64
sexo              object
idade            float64
flag_obito        object
uf                object
classe_social     object
dtype: object

---

For this dataset, we will just do a .strip() and .upper() on the columns that are strings, to remove any possible leading or trailing spaces and keep the data consistent. This will help the chatbot to understand the data better.

In [ ]:
df_reduced["uf"] = df_reduced["uf"].str.strip().str.upper()
df_reduced["classe_social"] = df_reduced["classe_social"].str.strip().str.upper()
df_reduced["sexo"] = df_reduced["sexo"].str.strip().str.upper()