In [32]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

load_dotenv()

True

---

In [27]:
column_mapping = {
    "REF_DATE": "ref_date",        # CSV column â†’ Database column
    "TARGET": "target",
    "VAR2": "sexo",
    "IDADE": "idade",
    "VAR4": "flag_obito",
    "VAR5": "uf",
    "VAR8": "classe_social"
}

cols = ["ref_date", "target", "sexo", "idade", "flag_obito", "uf", "classe_social"]
df = pd.read_csv(
    'https://github.com/Neurolake/challenge-data-scientist/raw/refs/heads/main/datasets/credit_01/train.gz',
    usecols=list(column_mapping.keys()),
    parse_dates=["REF_DATE"],
    dtype={
        "target": "int8",
        "idade": "int8",
        "flag_obito": "str",
        "uf": "str",
        "classe_social": "str",
        "sexo": "str"
    }
)

df = df.rename(columns=column_mapping)

df["uf"] = df["uf"].str.strip().str.upper()
df["classe_social"] = df["classe_social"].str.strip()
df["sexo"] = df["sexo"].str.strip().str.upper()

In [28]:
df.head()

                   ref_date  target sexo   idade flag_obito  uf classe_social
0 2017-06-01 00:00:00+00:00       0    M  34.137        NaN  RO             D
1 2017-08-18 00:00:00+00:00       0    M  40.447        NaN  PB             E
2 2017-06-30 00:00:00+00:00       0    F  33.515        NaN  RS           NaN
3 2017-08-05 00:00:00+00:00       1    F  25.797        NaN  BA             E
4 2017-07-29 00:00:00+00:00       0    F  54.074        NaN  RS             B

In [ ]:
for col in df.columns:
    if col not in ['ref_date', 'idade']:
        print(df.value_counts(col))

target
0    91163
1    29587
Name: count, dtype: int64
sexo
F    60131
M    46000
Name: count, dtype: int64
flag_obito
S    202
Name: count, dtype: int64
uf
SP    19079
BA    10306
PA    10159
RS     8410
CE     8262
MG     7757
PE     7056
RJ     4617
AM     4145
RN     3800
PR     3668
PB     3085
AL     2800
ES     2765
MS     2515
GO     2369
AC     2304
MA     2083
MT     2015
SC     2013
PI     1858
RO     1731
AP     1292
SE     1175
DF      790
TO      767
RR      573
Name: count, dtype: int64
classe_social
E    54928
D     9130
C     2972
B      449
A      161
Name: count, dtype: int64